body{

background: linear-gradient(135deg,#667eea,#764ba2);
font-family:Arial;
height:100vh;
display:flex;
justify-content:center;
align-items:center;

}

.chat-container{

width:450px;
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 15px 40px rgba(0,0,0,0.3);

}

.chat-box{
height:350px;
overflow-y:auto;
border:1px solid #ddd;
padding:15px;
border-radius:12px;
background:#f9f9f9;
display:flex;
flex-direction:column;
gap:8px;
}

.user{
display:flex;
justify-content:flex-end;
}

.bot{
display:flex;
justify-content:flex-start;
}
.bubble{
    box-shadow:0 2px 6px rgba(0,0,0,0.15);
}

button{

background:#6c63ff;
color:white;
border:none;
padding:8px 12px;
border-radius:8px;
margin:5px;

}